# .NET
bin/
obj/
.vs/
*.user
*.suo
*.dll
*.exe
*.pdb
*.log
*.db
.idea/

# Next.js / Node
node_modules/
.next/
out/
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# macOS system files
.DS_Store
